<?xml version="1.0"?>
<phpunit
    bootstrap="tests/phpunit/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    >
    <testsuites>
        <testsuite>
            <directory prefix="class-test-" suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/phpunit/wp-config.php" />
        <env name="WORDPRESS_DB_NAME" value="wordpress" />
        <env name="WORDPRESS_DB_USER" value="root" />
        <env name="WORDPRESS_DB_PASSWORD" value="" />
        <env name="WORDPRESS_DB_HOST" value="localhost" />
    </php>
</phpunit>
